{% extends 'base.html.twig' %}

{% block title %}Section Entreprise{% endblock %}
{% block javascripts %}

  {% for message in app.flashes('modifEnt') %}
    <script type="text/javascript">
    Swal.fire({
      icon: 'success',
      html: '{{ message|raw }}',
      showClass: {
        popup: 'animated fadeInDown faster'
      },
      hideClass: {
        popup: 'animated fadeOutUp faster'
      }
    });
    </script>
  {% endfor %}

{% endblock %}

  {% block body %}

    <!--==== SECTION LISTE ETUDIANTS ====-->
    <section class="container mt-5">
      <h1 class="text-center">Profil : {{ app.user.identity }}</h1>
      <hr>

      <div class="container-fluid mt-5 mx-1">

        <div class="row">
          <div class="col-12 col-md-5">
            <h5 class="text-center">Informations personnelles
            <button type="button" class="btn btn-info btn-sm rounded-circle" data-toggle="tooltip" data-placement="right" title="informations personnelles modifiable">?
            </button>
            </h5>
            <table class="table">
              <tbody>
                <tr>
                  <td class="">Nom : </td>
                  <td>{{ app.user.lastname }}</td>
                </tr>
                <tr>
                  <td>Prénom : </td>
                  <td>{{ app.user.firstname }}</td>
                </tr>
                <tr>
                  <td>Adresse : </td>
                  <td>{{ app.user.address }}</td>
                </tr>
                <tr>
                  <td>Téléphone : </td>
                  <td>{{ app.user.phone }}</td>
                </tr>
                <tr>
                  <td>Email : </td>
                  <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                  <td>Site Web :</td>
                  <td>{{ app.user.web }}</td>
                </tr>
                <tr>
                  <td>Github :</td>
                  <td>{{ app.user.github }}</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <a type="button" class="btn btn-outline-warning" href="{{ path('modifficheEnt', {id: app.user.id }) }}">Modifier</a>
          </div>
          <div class="col-12 col-md-7">
            <h5 class="text-center">Identité de votre entreprise
              <button type="button" class="btn btn-info btn-sm rounded-circle" data-toggle="tooltip" data-placement="right" title="informations depuis api siren">?
              </button>
            </h5>
            <table class="table">
              <tbody>
                <tr>
                  <td class="">Identité : </td>
                  <td>{{ app.user.identity }}</td>
                </tr>
                <tr>
                  <td>Code NAF/APE : </td>
                  <td>{{ app.user.apeCode }}</td>
                </tr>
                <tr>
                  <td>SIRET : </td>
                  <td>{{ app.user.siret }}</td>
                </tr>
                <tr>
                  <td>SIREN / NIC : </td>
                  <td>{{ app.user.siren }} / {{ app.user.nic }}</td>
                </tr>
                <tr>
                  <td>Adresse : </td>
                  <td>{{ app.user.adressPro }}</td>
                </tr>
                <tr>
                  <td>Code Postal : </td>
                  <td>{{ app.user.zipcodePro }}</td>
                </tr>
                <tr>
                  <td>Ville : </td>
                  <td>{{ app.user.cityPro }}</td>
                </tr>
                <tr>
                  <td>Département :</td>
                  <td>{{ app.user.departement }}</td>
                </tr>
                <tr>
                  <td>Région :</td>
                  <td>{{ app.user.region }}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


{% endblock %}
