{% extends 'base.html.twig' %}

{% block title %}Section Entreprise{% endblock %}
{% block stylesheets %}

<style type="text/css">

</style>

{% endblock %}
  {% block body %}


  <section class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center flex-wrap my-3">
        <h4>Centre de Formation</h4>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-md-5 d-flex justify-content-center">
        {% for listSchool in schoolIdentity %}
        <div class="card mx-2 my-2 project" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">{{ listSchool.identity }}</h5>
            <p class="card-text text-center">Centre de Formation</p>
            <div class="text-center">{{ listSchool.apeName }}</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="text-center">{{ listSchool.adressPro }}</div>
              <div class="text-center">{{ listSchool.zipcodePro }}  {{ listSchool.cityPro }}</div>
              <div class="text-center">{{ listSchool.departement }}</div>
            </li>
            <li class="list-group-item">
              <div class="text-center"><b>Contact :</b></div>
              <div class="text-center">{{ listSchool.firstname }} {{ listSchool.lastname }}</div>
              <div class="text-center">{{ listSchool.phonePro }}</div>
              <div class="text-center">{{ listSchool.email }}</div>
            </li>
          </ul>
          <div class="card-body">
            <a type="button" class="btn btn-outline-info" href="" class="card-link">en savoir plus</a>
          </div>
        </div>
        {% endfor %}

      </div>

      <div class="col-12 col-md-7 my-2 d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.8222223636403!2d1.4120306157209856!3d43.56858736591567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebbc66a0644b1%3A0x6cf2e6086d805d46!2s244%20Route%20de%20Seysses%20B%C3%A2timent%203%2C%2031100%20Toulouse!5e0!3m2!1sfr!2sfr!4v1583797036128!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>

  </section>

<script src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js'></script><script  src="./script.js"></script>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}
