{% extends 'base.html.twig' %}

{% block title %}Backoffice
{% endblock %}

{% block body %}

{% block styles %}
	<style>
			body {
	 background-color:#f2f2f2;

}
h1{
color: #4285F4;
}
.table{
  background-color:#d9d9d9;
}
	</style>
{% endblock styles %}


	<div class="container my-5">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center my-5">Suppresion de utilisateur
					<span class="font-weight-bold">"{{ users.lastname }}"</span><br>
				</h1>

			 <table class="table">
      <tbody>
          <tr>
            <th>Prénom :</th>
            <td>{{users.firstname}} </td>
          </tr>

          <tr>
            <th>Nom de famille :</th>
            <td>{{users.lastname}}</td>
          </tr>

          <tr>
            <th>Adresse actuelle :</th>
            <td>{{users.address}}</td>
          </tr>

          <tr>
            <th>Code postale :</th>
            <td>{{users.zipcode}}</td>
          </tr>

          <tr>
            <th>Ville résidente:</th>
            <td>{{users.city}}</td>
         </tr>

          <tr>
            <th>Numero de teléphone :</th>
            <td>{{users.phone}}</td>
          </tr>

          <tr>
            <th>Adresse email :</th>
            <td>{{users.email}}</td>
          </tr>

          <tr>
            <th>Moyenne générale :</th>
            <td>{{users.mark}}</td>
          </tr>

          <tr>
            <th>Date de naissance :</th>
            <td>{{users.birthdate|date('d/m/Y ') }}</td>
          </tr>

          <tr>
            <th>Date d'enregistrement :</th>
            <td>{{users.dateRegistration|date('d/m/Y  H:i') }}</td>
          </tr>
          </tbody>
        </table><br>
				<div class="d-flex mt-5">
					<div class="mx-auto">
						<div class="alert alert-danger">Attention si vous supprimez cet utilisateur ça sera définitif</div>
					</div>
				</div>

				<form class="d-flex" method="post">
					<div class="mx-auto">
						<p class="text-center h4">Supprimer cet utilisateur ?</p>
						<div class="d-flex">
							<div class="mx-auto my-5">
								<a href="{{ path('list_valid') }}" class="btn btn-outline-warning">Retour</a>
								<input type="hidden" name="delete" value="yes">
								<button type="submit" class="btn btn-outline-danger">Supprimer</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

