{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}


{% block styles %}
<style>

h1{
  font-size:4rem;
  background-color:#b54447;
  color:white;

}
h2,p{
color:#b54447;

}
#block1,#block2,#block3{
background:#b54447;

}
#rond{
background:#b54447;

}

</style>
{% endblock styles %}

<section>
<h1 class="text-center my-5">
	<strong>Backoffice
		<i>RGB</strong>
		<a href="{{ path('home_index') }}">
			<img src="{{asset('assets/img/index.png')}}" class=" m-5" alt="icon bdd"></a>
	</h1>
	<br>
</section>


<div class="row">
  <div class="fondPrincipal col-sm-12 col-md-12 col-lg-6">
    <img src="{{asset('assets/img/fondPrincipal.png')}}" class="img-fluid" alt="fond ecran principal">
  </div>
  <div class="containerSlogan container">
    <p class="slogan">RGB Web tu as tous ce qu'il faut !
    </p>
    <p class="text-muted">
      Nous allons donc nous concentrer sur la prise en main des fonctionnalités essentielles du back office.
      Une fois connecté dans cet espace, nous pourrons alors :
      <ul>
      <li>Gérer le contenu de utilisateurs </li>
      <li>Accédez aux messages déposés par les étudiants</li>
      <li>Modifier les données des utlisateurs</li>
      <li>Rechercher par filtre dans la base de donnée</li>
      </ul>
    </p>
  </div>
</div>



<div class="row text-center">
  <div class="col-sm-12 col-md-12 col-12">
    <h4 class="queFaisonsNous text-center">Que faisons nous ?</h4>
  </div>
  <div class="container">
    <div class="d-flex justify-content-center">
      <p class="text-muted w-50"> Nous allons donc nous concentrer sur la prise en main des fonctionnalités essentielles du back office.<br>Gérer le contenu de utilisateurs
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="container">
      <a href="{{ path('list_valid') }}">
        <div id="bock1" class="jumbotron jumbotronActivites text-center">
          <div class="d-flex justify-content-center">
            <div id="rond" class="rounded-circle rondCards"></div>
          </div>
          <img src="{{asset('assets/img/bdd.png')}}" class="mb-5" alt="icon eleve">
          <h2>
            <strong>
              Accedez au registre d'utlisateurs</strong>
          </h2>
          <p>Nous allons donc nous concentrer sur la prise en main des fonctionnalités essentielles du back office.<br>Gérer le contenu de utilisateurs</p>
        </div>
      </a>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="container">
        <a href="{{ path('add_student') }}">
          <div id="bock1" class="jumbotron jumbotronActivites text-center">
            <div class="d-flex justify-content-center">
              <div id="rond" class="rounded-circle rondCards"></div>
            </div>
            <img src="{{asset('assets/img/student.png')}}" class="mb-5" alt="icon eleve">
            <h2><strong> Inscription élèves</strong></h2>
            <p>Nous allons donc nous concentrer sur la prise en main des fonctionnalités essentielles du back office.<br>Ajouter des utlisateurs aux bases de données de l'école. </p>
          </div>
        </a>
      </div>
    </div>


    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="container">
        <a href="{{ path('add_ent') }}">
          <div id="bock2" class="jumbotron jumbotronActivites text-center">
            <div class="d-flex justify-content-center">
              <div id="rond" class="rounded-circle rondCards"></div>
            </div>
            <img src="{{asset('assets/img/ent.png')}}" class="mb-5" alt="icon entreprise">
            <h2><strong> Inscription Entreprise </strong></h2>
           <p>Nous allons donc nous concentrer sur la prise en main des fonctionnalités essentielles du back office.<br>Ajouter des utlisateurs aux bases de données de l'école. </p>
          </div>
        </a>
      </div>
    </div>


    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="container">
        <a href="{{ path('list_message') }}">
          <div id="bock3" class="jumbotron jumbotronActivites text-center">
            <div class="d-flex justify-content-right">
              <div id="rond" class="rounded-circle rondCards"></div>
            </div>
            <img src="{{asset('assets/img/message.png')}}" class="mb-5" alt="icon message">
            <h2><strong>Boite de reception</strong></h2>
           <p>Nous allons donc nous concentrer sur la prise en main des fonctionnalités essentielles du back office.<br>Accédez aux messages déposés par les étudiants</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>


{% endblock %}
