{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}


{% block body %}

{% block styles %}
<style>
body{
  background-color:#f2f2f2;
}
h1{
font-size:4rem;
background-color:#b54447;
}
.table{
background-color:  #d9d9d9;

}
</style>
{% endblock styles %}


<h1 class="text-center text-light m-5"><strong>
Registre d'utilisateurs<a href="{{ path('school_index') }}">
<img src="{{asset('assets/img/bdd.png')}}" class="m-5" alt="icon bdd"></a>
</strong>
</h1>
<br>




<div class="container-fluid  my-5">
  <div class="row">
    <h2 class"text-center text-danger mb-5">Registre entreprise </h2>
      <div class="col justify-content-center"><br><br>

    </div>
      <table id="array" class="table ">
        <thead>
        <tr class="text-danger text-center" >
          <th>Nom entreprise</th>
          <th>N° Siret </th>
          <th>Code postale</th>
          <th>Ville</th>
          <th>Numero de teléphone</th>
          <th>Email</th>
           <th>Site web</th>
          <th>Validé</th>
        </tr>
    </thead>
    <tbody id="body" class="text-center ">
        {% for ent in entList %}
        <tr>
          <td>{{ent.identity}} </td>
          <td><i>{{ent.siret}}</i></td>
          <td>{{ent.zipcodePro}}</td>
          <td>{{ent.cityPro}}</td>
          <td>{{ent.phonePro}}</td>
          <td>{{ent.web}}</td>
          <td>{{ent.email}}</td>
           <td>{{ent.connect}}</td>
          <td class="p-0">
            <form>
              <a class="btn btn-info btn-sm mt-2" href="{{ path('view_ent', {id: ent.id}) }}" class="text-info">Voir
                entreprise</a>
              <a href="{{ path('delete_ent', {id: ent.id} ) }}"  class="btn btn-danger btn-sm mt-2">supprimer</button>
            </form></td>
          </tr>
        {% endfor %}
         </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container-fluid my-5">
  <div class="row">
  <h2 class="text-center mb-3">Registre élèves</h2>
   <div class="col justify-content-center">

  </div>
      <table class="table ">
        <tr class=" text-danger text-center">
          <th>Prénom</th>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Ville</th>
          <th>Numero de teléphone</th>
          <th>Email</th>
          <th>Date de naissance</th>
        </tr>
        {% for stu in studentList %}
        <tr class="text-center">
          <td>{{stu.firstname}} </td>
          <td><i>{{stu.lastname}}</i></td>
          <td>{{stu.address}}</td>
          <td>{{stu.city}}</td>
          <td>{{stu.phone}}</td>
          <td>{{stu.email}}</td>
          <td>{{stu.birthdate|date('d/m/Y ') }}</td>
          <td>
          <form>
          <a class="btn btn-info btn-sm " href="{{ path('view_student', {id: stu.id}) }}" class="text-info">Voir élève</a>
          <a type="submit"  class="btn btn-danger btn-sm" href="{{ path('delete_student', {id: stu.id} ) }}">supprimer</a>

            </form></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
<a href="{{ path('school_index') }}" class="text-info"><img src="{{asset('assets/img/back.png')}}" class="m-5 bg-warning p-4" alt="icon bdd"></a>

{% endblock %}
