{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}

{% block styles %}
	<style>
	body {
	 background-color:#f2f2f2;
}
h1{
font-size:4rem;
background-color:#b54447;
color:white;
}
h2{
  font-size:3rem;
}
.table{
  background-color:#d9d9d9;
}
	</style>
{% endblock styles %}





<h1 class="text-center my-5">
	Liste des messages<a href="{{ path('school_index') }}">
		<img src="{{asset('assets/img/message.png')}}" class=" m-5" alt="icon bdd"></a>
</h1>
<br>


<div class="container-fluid  my-5">
  <div class="row">
    <div class="col justify-content-center">


      <table class="table ">
        <tr>
          <th class="text-danger">Nom de l'utlisateur</th>
          <th class="text-danger">Email</th>
          <th class="text-danger">Titre </th>
          <th class="text-danger">Message</th>

        </tr>

         {% for mess in messages %}
        <tr>
          <td>{{mess.lastname}} </td>
          <td>{{mess.email}} </td>
          <td><i>{{mess.title}}</i></td>
          <td>{{mess.content}}</td>
          <td>
            <form>

              <a class="btn btn-info btn-sm" href="{{ path('view_message', {id: mess.id}) }}" class="text-info">Voir
                voir message</a>
            </form></td>
          </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>

 <a href="{{ path('school_index') }}" class="text-info"><img src="{{asset('assets/img/back.png')}}"  class="m-3 bg-warning p-2" alt="icon bdd"></a>
{% endblock %}
